admin.html
{
  "name": "CRM Admin Create Account",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-admin-create-account",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        -64
      ],
      "id": "cd214c8d-4c46-406e-b202-9bc5ff5c07b3",
      "name": "Webhook",
      "webhookId": "crm-admin-create-account-hook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as cnt FROM USERS WHERE login = '{{ $('Webhook').first().json.body.login }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        -368,
        -64
      ],
      "id": "b9ff071f-8fae-4343-9d12-f903990d950b",
      "name": "Check Login",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json.cnt }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -128,
        -64
      ],
      "id": "d13cebf6-6403-4ca6-95e4-9403b1d9f94b",
      "name": "Login disponible ?"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ACCOUNTS (nom_praticien, plan, statut, date_expiration) VALUES ('{{ $('Webhook').first().json.body.nom_praticien.replace(/'/g, \"\") }}', '{{ $('Webhook').first().json.body.plan || 'administration' }}', 'actif', {{ $('Webhook').first().json.body.plan === 'test' ? 'DATE_ADD(NOW(), INTERVAL 3 DAY)' : 'NULL' }});",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        112,
        -160
      ],
      "id": "91477081-031c-486c-a6a7-3600ed8e5fba",
      "name": "Insert Account",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id FROM ACCOUNTS ORDER BY id DESC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        352,
        -160
      ],
      "id": "d6b899c4-f610-46ad-b9c0-c0f8be641bb9",
      "name": "Get New Account Id",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO USERS (account_id, login, mot_de_passe, role, actif, must_change_password) VALUES ({{ $('Get New Account Id').first().json.id }}, '{{ $('Webhook').first().json.body.login.replace(/'/g, \"\") }}', '{{ $('Webhook').first().json.body.password.replace(/'/g, \"\") }}', 'praticien', 'oui', 1);",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        592,
        -160
      ],
      "id": "f99bba85-b513-40b4-84a9-17e8b61519f6",
      "name": "Insert User",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const accountId = $('Get New Account Id').first().json.id;\nreturn [{ json: { success: true, account_id: accountId, message: 'Compte créé et activé avec succès.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -160
      ],
      "id": "3b597b4a-28f3-4301-b908-21c1c3505d1c",
      "name": "Prepare Success"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1072,
        -160
      ],
      "id": "1a120ea3-f91d-4af7-902e-ad33d4a96dc7",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { success: false, message: 'Ce nom d utilisateur est déjà utilisé.' } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        112,
        64
      ],
      "id": "ca55e62a-7777-45b6-af91-c9e13f90979f",
      "name": "Prepare Error"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        352,
        64
      ],
      "id": "ca063261-77bd-488f-8e4a-3f7d00210232",
      "name": "Respond Error"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Login": {
      "main": [
        [
          {
            "node": "Login disponible ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login disponible ?": {
      "main": [
        [
          {
            "node": "Insert Account",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Account": {
      "main": [
        [
          {
            "node": "Get New Account Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Account Id": {
      "main": [
        [
          {
            "node": "Insert User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert User": {
      "main": [
        [
          {
            "node": "Prepare Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error": {
      "main": [
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d1de6f28-2604-4cb4-9d20-9abc7a5dcc10",
  "meta": {
    "instanceId": "6d303c32990b6e9e47080efa65ff4a1ee64e1c0647f34ae21145a548ee5af385"
  },
  "nodeGroups": [],
  "id": "oTKDf7yE9pRAcSxx",
  "tags": []
}
