admin.html
{
  "name": "CRM Admin Update Account",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-admin-update-account",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "873bc12b-4c2d-48b2-9010-5ce71f0d7d73",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -96,
        224
      ],
      "webhookId": "15294b3e-26e0-4667-85bd-17ed72e77bf2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE ACCOUNTS SET nom_praticien = '{{ $json.body.nom_praticien.replace(/'/g, \"\") }}', plan = '{{ $json.body.plan }}', date_expiration = {{ $json.body.plan === 'test' ? 'DATE_ADD(NOW(), INTERVAL 3 DAY)' : 'NULL' }} WHERE id = {{ $json.body.account_id }};",
        "options": {}
      },
      "id": "aa0cedbf-d81b-4dae-b8e3-cc60cb9e38bd",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        128,
        224
      ],
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({success: true, message: \"Compte mis à jour avec succès\"}) }}",
        "options": {}
      },
      "id": "5de5e589-8fb3-465e-9a4e-57bb1c838ac4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        560,
        224
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO ADMIN_ACTIVITY_LOG (type, account_id, description) VALUES ('admin_update', {{ $(\"Webhook\").first().json.body.account_id }}, 'Compte modifie : nom = {{ $(\"Webhook\").first().json.body.nom_praticien.replace(/'/g, \"\") }}, plan = {{ $(\"Webhook\").first().json.body.plan }}, email = {{ $(\"Webhook\").first().json.body.login }}{{ $(\"Webhook\").first().json.body.new_password ? \", mot de passe reinitialise\" : \"\" }}');",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        336,
        224
      ],
      "id": "b513ff25-4564-4118-85a6-48c74431c767",
      "name": "Execute a SQL query",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE USERS SET login = '{{ $(\"Webhook\").first().json.body.login.replace(/'/g, \"\") }}', mot_de_passe = CASE WHEN '{{ $(\"Webhook\").first().json.body.new_password ? $(\"Webhook\").first().json.body.new_password.replace(/'/g, \"\") : \"\" }}' != '' THEN '{{ $(\"Webhook\").first().json.body.new_password ? $(\"Webhook\").first().json.body.new_password.replace(/'/g, \"\") : \"\" }}' ELSE mot_de_passe END, must_change_password = CASE WHEN '{{ $(\"Webhook\").first().json.body.new_password ? $(\"Webhook\").first().json.body.new_password.replace(/'/g, \"\") : \"\" }}' != '' THEN 1 ELSE must_change_password END WHERE account_id = {{ $(\"Webhook\").first().json.body.account_id }} ORDER BY id ASC LIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        232,
        224
      ],
      "id": "f1a2b3c4-1111-4abc-9def-1234567890ab",
      "name": "Update User Login",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Update User Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update User Login": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af5e1c9a-a235-4b26-8899-91464b9904e8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6d303c32990b6e9e47080efa65ff4a1ee64e1c0647f34ae21145a548ee5af385"
  },
  "nodeGroups": [],
  "id": "saiSNiivTcJ9TMxa",
  "tags": []
}
