dashboard.html
{
  "name": "CRM Vider Corbeille",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "crm-empty-trash",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "name": "Webhook - Vider Corbeille",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "vider-webhook-001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM DIAGNOSTICS WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider DIAGNOSTICS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        300,
        0
      ],
      "id": "vider-diagnostics",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM ANALYSES_IA WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider ANALYSES_IA",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        600,
        0
      ],
      "id": "vider-analyses_ia",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM PAIEMENTS WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider PAIEMENTS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        900,
        0
      ],
      "id": "vider-paiements",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM APPOINTMENTS WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider APPOINTMENTS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1200,
        0
      ],
      "id": "vider-appointments",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM CALLS WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider CALLS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1500,
        0
      ],
      "id": "vider-calls",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM EMAIL_LOGS WHERE lead_id IN (SELECT id FROM (SELECT id FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}) tmp)",
        "options": {}
      },
      "name": "Vider EMAIL_LOGS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        1800,
        0
      ],
      "id": "vider-email_logs",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM LEADS WHERE deleted_at IS NOT NULL AND account_id = {{ $('Webhook - Vider Corbeille').first().json.body.account_id }}",
        "options": {}
      },
      "name": "Vider LEADS",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        2100,
        0
      ],
      "id": "vider-leads",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "IaVpXULWACrIBLE0",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ JSON.stringify({success: true, message: 'Corbeille vidée'}) }}",
        "options": {}
      },
      "name": "Répondre - Corbeille vidée",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2400,
        0
      ],
      "id": "vider-respond"
    }
  ],
  "connections": {
    "Webhook - Vider Corbeille": {
      "main": [
        [
          {
            "node": "Vider DIAGNOSTICS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider DIAGNOSTICS": {
      "main": [
        [
          {
            "node": "Vider ANALYSES_IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider ANALYSES_IA": {
      "main": [
        [
          {
            "node": "Vider PAIEMENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider PAIEMENTS": {
      "main": [
        [
          {
            "node": "Vider APPOINTMENTS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider APPOINTMENTS": {
      "main": [
        [
          {
            "node": "Vider CALLS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider CALLS": {
      "main": [
        [
          {
            "node": "Vider EMAIL_LOGS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider EMAIL_LOGS": {
      "main": [
        [
          {
            "node": "Vider LEADS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vider LEADS": {
      "main": [
        [
          {
            "node": "Répondre - Corbeille vidée",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
